@{
  Layout = "_Layout";
}
@model List<HairSalon.Models.Stylist>;
@using HairSalon.Models;
<h2>View Stylists</h2>
<hr />

@if (@Model.Count == 0)
{
  <h3>You haven't added any stylists yet!</h3>
  <p>Click below to add a new stylist.</p>
}
  @foreach (Stylist stylist in Model)
  {
      @Html.ActionLink($"{stylist.Name}", "Details", new { id = stylist.StylistId}) 
      <p>Specialty | @stylist.Specialty</p>
  }

<hr />
<a href='@Url.Action("Create")'><button>Add Stylist</button></a>
<a href='@Url.Action("Index", "Home")'><button>Home</button></a>